{
  "overrides": [
    {
      "files": "*.ejs",
      "options": {
        "parser": "html",
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSameLine": true
      }
    }
  ]
}
